.circle {
    background-color: rgba(0, 123, 255, 0.5);
    border-radius: 50%;
  }
  
  .square {
    background-color: rgba(40, 167, 69, 0.5);
  }
  
  .triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 35px solid rgba(255, 193, 7, 0.5);
  }